.nav-title {
  display: flex;
  align-items: center;
}
.memory-icon {
  width: 2.3rem;
  height: 2.7rem;
  margin-right: 1rem;
}
.page-name {
  font-size: 2.5rem;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 휴대용 디바이스 */
@media screen and (max-width: 768px) {
  .memory-icon {
    width: 3.5vw;
    height: 4.1vw;
    margin-right: 1vw;
  }
  .page-name {
    font-size: 4vw;
  }
}
