.nav-icons {
  display: flex;
  align-items: center;
}
.search-text {
  margin-right: 0.5rem;
}
.nav-icon {
  position: relative;
  margin-right: 2vw;
  font-size: 3rem;
  cursor: pointer;
}
.nav-icon:hover {
  background-color: rgb(233, 233, 233);
}
#browser {
  display: none;
}
.search-icon,
.browser-icon {
  background: none;
  border: none;
  padding: 0;
}
a {
  text-decoration: none;
}
/* 휴대용 디바이스 */
@media screen and (max-width: 768px) {
  .nav-icon {
    margin-right: 1vw;
    font-size: 5vw;
  }
}
